<%= provide(:title, "Outward Goods")%>
<div class="container">
<h1>Editing Outward Goods</h1>

<%= render 'form', supply: @supply %>

<%= link_to 'Show', @supply %> |
<%= link_to 'Back', supplies_path %>
</div>