<!--  
<div class="alert alert-danger" data-alert='alert'>
     <p class="feed_error">
      Message not sent, please review the fields and retry!

     <a class="close" data-dismiss='alert'>&times;</a>
     </p>

      
</div> -->
 
 
<div class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <div class="notice" style="padding:0px !important"> 
  		 Message not sent, please review the fields and retry !
  	</div>
</div> 
		